<body>
  <h1><strong>Editind Book</strong></h1>
  <%= form_for(@book) do |f| %>

  <h4><strong>Title</strong></h4>
  <%= f.text_field :title %>

  <h4><strong>body</strong></h4>
  <%= f.text_area :body %>
  <br>
  <%= f.submit 'Create Book' %>

<% end %>
</body>